<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>Major</h4>
  <h3>
    <%= @major %>
  </h3>
  <h4>Grade level</h4>
  <h3>
    <%= @grade_level %>
  </h3>
</div>
